<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401831538312-4jjovr1laahuvef1l9n8fsvnrtlgacrr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401831538312-4jjovr1laahuvef1l9n8fsvnrtlgacrr</string>
	<key>API_KEY</key>
	<string>AIzaSyACZcAmNyqBiWLSff_DF0egPwRT8UX6Se8</string>
	<key>GCM_SENDER_ID</key>
	<string>401831538312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.auth</string>
	<key>PROJECT_ID</key>
	<string>programmeur-539af</string>
	<key>STORAGE_BUCKET</key>
	<string>programmeur-539af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401831538312:ios:0ebe2c9574533b6112793d</string>
</dict>
</plist>